<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action='/userAdd' method="POST">

            <input style="margin-bottom: 5px;" name="nome" type="text" class="form-control" placeholder="Nome: " > 
            <input style="margin-bottom: 5px;" name="pais" type="text" class="form-control" placeholder="País:" >
            <input style="margin-bottom: 5px;" name="lingua" type="text" class="form-control" placeholder="Lingua:" >
            <input style="margin-bottom: 5px;"  name="idade" type="number" class="form-control" placeholder="Idade:" >
            <input style="margin-bottom: 5px;"  name="status" type="text" class="form-control" placeholder="Status:" >
            <input style="width: 100%;" type="submit" class="btn btn-success" value="Salvar">
        </form>

  


</body>



</html>
